services:
    jellyfin:
        image: linuxserver/jellyfin
        container_name: jellyfin
        restart: unless-stopped
        environment:
            - PUID=1000
            - PGID=1000
            - NVIDIA_DRIVER_CAPABILITIES=all
            - NVIDIA_VISIBLE_DEVICES=all
        runtime: nvidia
        volumes:
            - ./config:/config
            - /tmp/jellyfin:/config/cache/transcodes
            - /mnt/lab_data/tvseries:/data/tvshows
            - /mnt/lab_data/movies:/data/movies
        ports:
            - 8096:8096
        deploy:
            resources:
                reservations:
                    devices:
                        - driver: nvidia
                          count: 1
                          capabilities: [gpu]

networks:
  default:
    name: main_net
    external: true